:root {
  --lrp-primary: #60ad29;
  --lrp-mini-primary: #d8f7bc;
  --lrp-green-mini: #67a833;
  --lrp-white: #ffffff;
  --lrp-green-white: #f9fff3;
  --lrp-text-gray: #979ea8;
  --lrp-text-gray-secondary: #bec1ca;
}
/* global */

/* .lrp-container {
  font-family: "Roboto";
  width: 100%;
  background: #fff;
} */
.w-100{
  width: 100% !important;
}
.text-white {
  color: var(--lrp-white);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.font-weight-bold {
  font-weight: bold;
}
/* lrp-color */
.lrp-orange {
  color: #d28f4d;
}
.lrp-red {
  color: #e54c52;
}
.lrp-green {
  color: #5dc064;
}

.lrp-blue {
  color: #535bb7;
}
.lrp-pink {
  color: #c96ecb;
}
/* lrp-bg-color */
.lrp-bg-orange {
  background-color: #d28f4d;
}
.lrp-bg-red {
  background-color: #e54c52;
}
.lrp-bg-green {
  background-color: #5dc064;
}

.lrp-bg-blue {
  background-color: #535bb7;
}
.lrp-bg-pink {
  background-color: #c96ecb;
}
.lrp-text-gray {
  color: var(--lrp-text-gray);
}
.lrp-text-gray-secondary {
  color: var(--lrp-text-gray-secondary);
}
/* form starting stylings ------------------------------- */
.lrp-group {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.lrp-group input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
.lrp-group input:focus {
  outline: none;
}

/* LABEL ======================================= */
.lrp-group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
/* .lrp-group input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--lrp-primary);
} */
.lrp-group input ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--lrp-primary);
}

/* BOTTOM BARS ================================= */
.lrp-bar {
  position: relative;
  display: block;
  width: 100%;
}
.lrp-bar:before,
.lrp-bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--lrp-primary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.lrp-bar:before {
  left: 50%;
}
.lrp-bar:after {
  right: 50%;
}

/* active state */
.lrp-group input:focus ~ .lrp-bar:before,
.lrp-group input:focus ~ .lrp-bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.lrp-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.lrp-group input:focus ~ .lrp-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--lrp-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--lrp-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: var(--lrp-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* fin de global */
.lrp-bg-primary {
  background-color: var(--lrp-primary);
  color: var(--lrp-white);
}
.lrp-color-primary {
  color: var(--lrp-primary) !important;
}

/* botones */

.lrp-btn {
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  width: 200px;
}
.lrp-btn-secondary {
  background-color: var(--lrp-mini-primary);
  color: var(--lrp-primary);
  border-radius: 12px;
}
/* boton para el listado */
.lrp-btn-mini {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  width: 125px;
  border-radius: 12px;
}
.lrp-btn-mini-primary {
  background-color: var(--lrp-mini-primary);
}

.lrp-btn-primary {
  background-color: var(--lrp-primary);
  color: var(--lrp-white);
}

.lrp-btn-primary-rounded {
  background-color: var(--lrp-primary);
  color: var(--lrp-white);
  border-radius: 12px;
}
.lrp-btn-lg {
  width: 250px;
}

/* extras */
.lrp-hr-bar {
  background-color: var(--lrp-primary);
  padding: 3px;
  width: 100%;
  margin-top: 100px;
  border-radius: 10%;
}
.lrp-checkbox-container {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 5px;
  height: 60px;
  padding: 15px 52px;
  border: 1px dashed #999;
  border-radius: 100px;
}

.lrp-checkbox-container-hover {
  background-color: var(--lrp-primary);
  color: var(--lrp-green-white);
  font-weight: bold;
}
/* datatables */
.dataTables_length label {
  display: flex;
  align-items: center;
}
.dataTables_length select {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.dataTables_filter label {
  text-align: left;
}
/* input cel */
.iti .iti--allow-dropdown {
  width: 100% !important;
}
/* boton datatable */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border-radius: 20px !important;
  background: var(--lrp-primary) !important;
  color: var(--lrp-white) !important;
  font-weight: bold;
}

/* card  */
.lrp-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 0px;
}

.lrp-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.lrp-card-header {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--lrp-primary);
  padding: 10px 20px;
}
.lrp-card-body {
  padding: 10px 20px;
}
.lrp-circle {
  width: 10px;
  height: 10px;
  border: 1px;
  border-radius: 5px;
}

