:root {
  --lrp-primary: #60ad29;
  --lrp-white: #ffffff;
  --lrp-green-white: #f9fff3;
}
/* global */

/* .lrp-container {
  font-family: "Roboto";
  width: 100%;
  background: #fff;
} */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.font-weight-bold {
  font-weight: bold;
}
/* lrp_color */
.lrp_orange {
  color: #d28f4d;
}
.lrp_red {
  color: #e54c52;
}
.lrp_green {
  color: #5dc064;
}

.lrp_blue {
  color: #535bb7;
}
.lrp_pink {
  color: #c96ecb;
}

/* form starting stylings ------------------------------- */
.lrp-group {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.lrp-group input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
.lrp-group input:focus {
  outline: none;
}

/* LABEL ======================================= */
.lrp-group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
/* .lrp-group input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--lrp-primary);
} */
.lrp-group input ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--lrp-primary);
}

/* BOTTOM BARS ================================= */
.lrp-bar {
  position: relative;
  display: block;
  width: 100%;
}
.lrp-bar:before,
.lrp-bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--lrp-primary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.lrp-bar:before {
  left: 50%;
}
.lrp-bar:after {
  right: 50%;
}

/* active state */
.lrp-group input:focus ~ .lrp-bar:before,
.lrp-group input:focus ~ .lrp-bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.lrp-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.lrp-group input:focus ~ .lrp-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--lrp-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--lrp-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: var(--lrp-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* fin de global */
.lrp-bg-primary {
  background-color: var(--lrp-primary);
  color: var(--lrp-white);
}
.lrp-color-primary {
  color: var(--lrp-primary);
}

/* botones */

.lrp-btn {
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  width: 200px;
}
.lrp-btn-primary {
  background-color: var(--lrp-primary);
  color: var(--lrp-white);
}
.lrp-btn-primary-rounded {
  background-color: var(--lrp-primary);
  color: var(--lrp-white);
  border-radius: 12px;
}
.lrp-btn-lg {
  width: 250px;
}

/* extras */
.lrp-hr-bar {
  background-color: var(--lrp-primary);
  padding: 3px;
  width: 100%;
  margin-top: 100px;
  border-radius: 10%;
}
.lrp-checkbox-container {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 5px;
  height: 60px;
  padding: 15px 52px;
  border: 1px dashed #999;
  border-radius: 100px;
}

.lrp-checkbox-container-hover {
  background-color: var(--lrp-primary);
  color: var(--lrp-green-white);
  font-weight: bold;
}
/* datatables */
.dataTables_length label {
  display: flex;
  align-items: center;
}
.dataTables_length select {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.dataTables_filter label {
  text-align: left;
}
/* input cel */
.iti .iti--allow-dropdown {
  width: 100%;
}
